.skills{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8rem;
    height: 100vh;
    margin-bottom: 10rem;
    color: black;
}
.lang{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}
.CPlink{
    display: flex;
    flex-direction: row;
}
.s-heading{
    text-align: center;
    margin-bottom: 5rem;
}
.s-heading>*{
    font-size: 2rem;
    font-weight: bold;
}
.s-heading span:nth-of-type(2){
    color: var(--orange);
}
.circle{
    width: 4rem;
    height: 4rem;
    background: white;
    border-radius: 100%;
    position: relative;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    font-size: 1.5rem;
    font-weight: bold;
    margin: 2rem;
    padding: 1rem;
}
.circle::before{
    border-radius: 100%;
    content: '';
    background-image: linear-gradient(to bottom, #87e6fb 0%, #ffc05c 100%);
    top:-8px;
    left: -8px;
    bottom: -8px;
    right:-8px;
    position: absolute;
    z-index: -1;
    box-shadow: var(--boxShadow);
}
.CP{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.CP span{
    text-align: center;
}
.CPlink :nth-child(2) :nth-child(2){
    color: var(--orange);
}
@media screen and (max-width: 480px) {
    .skills{
        transform: scale(0.6);
    }
    .lang{
        flex-direction: column;
    }
}