.home{
    display:flex;
    height: 77vh;
    margin-top: 6rem;
}
.i-left{
    display: flex;
    position:relative;
    flex:1;
    flex-direction: column;
    gap: 1rem;
}
.i-name{
    display: flex;
    flex-direction: column;
}
.i-right{
    flex:1;

}
.i-name>:nth-child(1){
    color: var(--black);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(2){
    color: var(--orange);
    font-weight: bold;
    font-size: 3rem;
}
.i-name>:nth-child(3){
    color: var(--gray);
    font-weight: 100;
    font-size: 14px;
    margin-top: 10px;
}
.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
}
.i-icons>*{
    transform: scale(0.5);
}
.i-icons>*:hover{
    cursor: pointer;
}
.i-right{
    flex: 1;
    position: relative;
    left: 10%;
}
.i-right>*{
    position: absolute;
    z-index: 1;
}
.i-right>:nth-child(1){
    transform: scale(0.69);
    left: -15%;
    top: -9%;
}
.i-right>:nth-child(2){
    top: -4.6rem;
    transform: scale(0.67);
    left: -3rem;
}
.i-right>:nth-child(3){
    transform: scale(1.4);
    left: 24%;
}
.i-right>:nth-child(4){
    transform: scale(0.6);
    left: -15%;
    top: -19%;
    border-radius: 50%;
    padding: 0;
}
.blur{
    position: absolute;
    border-radius: 50%;
    width: 22rem;
    height: 14rem;
    background: #edd0ff;
    filter: blur(212px);
    z-index: -9;
    filter: blur(72px);
}
@media screen and (max-width:480px) {
    .home{
        flex-direction: column;
        height: 70rem;
        gap: 7rem;
    }
    .i-right{
        scale: 0.8;
        left: -3rem;
    }
    .i-right .blur{
        display: none;
    }
    .floating-div:nth-of-type(1){
        top: -9.5rem !important;
        left: 9rem !important

    }
}