.footer{
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7rem;
}
.f-content{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 15rem;
    gap: 2rem;
    color: white;
}
.f-content :nth-child(3){
    margin-bottom: 0;
}
.f-icons{
    display: flex;
    gap: 2rem;
}
h6{
    text-align: center;
    color: black;
    z-index: 9;
}
@media screen  and (max-width:480px) {
    .f-content{
        margin: 0px;
        scale: 0.7;
    }
    .footer img{
        scale: 8;
    }
}